$lightGreen: #55efc4;
$lightPurple: #DFAAB8;
$cover-color: rgba(0, 0, 0, 0.8);


.app{
    display: flex;
    justify-content: center;

    .container{  
        width: 1100px;

        .link{
            text-decoration: none; 
            color:inherit;
        }

        .auth{
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1{
                font-size: 20px; 
                color: teal; 
                margin-bottom: 10px;
            } 
            form{
                display: flex;
                flex-direction: column; 
                background: white; 
                width: 300px; 
                padding: 10px; 
                gap: 20px;
            
                input{
                    padding: 10px;
                    border: none; 
                    text-align: left;
                    border-bottom: 1px solid gray;
                }
                button{
                    padding: 8px; 
                    border: none; 
                    background-color: teal;
                }
                span{
                    font-size: 12px; 
                    text-align: center;
                    display: block; 
                    padding: 10px
                }
                p{
                    color:red; 
                    font-size: 12px; 
                    text-align: center;
                }
            } 
        }
        
        .navbar{
            .container{ 
                padding: 10px 0; 
                display: flex; 
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 120px;
                        border-radius: 20%;
                    }
                }
                .links{
                    display: flex; 
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 16px; 
                        font-weight: 400;
                    }
                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color:  $lightPurple;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 400; 
                        border: 1px solid white;

                        &:hover{
                            color: rgb(199, 14, 184);
                            background-color: white;
                            border: 1px solid rgb(199, 14, 184);
                        }
                    }
                }
            }
        }
        // FOOTER
        footer{
            display: none;
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen; 
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;;
            img{
                height: 60px;
                border-radius: 10px;
            }
        }
        // HOME 
        .home{
            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
            }
            .post{
                display: flex;
                margin-bottom: 100px;
                margin-top: 50px;
                gap: 100px;
                
                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }
                .img{
                    flex: 2;
                    position: relative;

                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $lightGreen;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }
                    img{
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }
                .content{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h1{
                        font-size: 48px;
                    }
                    p{
                        font-size: 18px;
                    }
                    button{
                        width: max-content;
                        padding: 10px 20px; 
                        border: none; 
                        cursor: pointer;
                        border: 1px solid $lightPurple; 
                        color:rgb(199, 14, 184);

                        &:hover{
                            border: 1px solid white;
                            color: black;
                            background-color: $lightPurple;

                        }
                    }
                    
                }
            }

        }
        
       //SINGLE 
       .single{
        display: flex;
        gap: 50px;
            .content{
                flex: 5;
                display: flex; 
                flex-direction: column;
                gap: 30px;
                img{
                    width: 100%;
                    height: 30%;
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14pxs;
                   
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    span{
                        font-weight: bold;
                    }
                } 
                .edit{
                    display: flex;
                    gap: 5px;
                    img{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
                h1{
                    font-size: 42px;
                    color: #333;
                }
                p{
                    text-align: justify; 
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: #555;
                }
                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 80%;
                        height: 200px; 
                        object-fit: cover;
                    }

                    h2{
                        color: #555;
                    }
                    button{
                        width: max-content;
                        padding: 10px 20px; 
                        border: none; 
                        cursor: pointer;
                        border: 1px solid $lightPurple; 
                        color:rgb(199, 14, 184);

                        &:hover{
                            border: 1px solid white;
                            color: black;
                            background-color: $lightPurple;

                        }
                    }
                }
            }
       }
       //Profile
       .profile{
        width: 70%;
        margin-top: 20px;
        display: flex;
        margin-left: 10px;
        align-items: center;
        position: relative;
        
        .profile-image{
            img{
                width: 75%;
                border-radius: 5%;
                margin-right: 20px;
            }
        }
        .profileform{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            align-items: center;
            width: 135%;
            height: 100%;
            border: 2px solid #333;

            label {
                font-size: 15px;
            }
            .inputfile{
                    margin-bottom: 1rem;
                    border: 1px solid gray;
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    width: 70%;
                    height: 300%;
                    align-items: center;
            }
            input{
                margin-bottom: 1rem;
                border: 1px solid gray;
                border-radius: 0.25rem;
                font-size: 1rem;
                width: 70%;
                height: 500%;
            }
        }
        .ButtonsSF{
            display: flex;
            margin-top: 30px;
            gap: 50px;
            margin-left: 130px;
            button {
                background-color: #0080ff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 4px; 
                font-size: 16px;
                margin-right: 10px;
                object-fit: contain;
                
                &:last-child {
                  margin-right: 0;
                }
            }   
        }
        .info{

            h1 {
                font-size: 75px;
                margin: 0;
            }
            p {
                font-size: 16px;
                margin: 0;
                color: #555;
            }
            .buttons{
                display: flex;
                margin-top: 50px;
                gap: 50px;
                button {
                    background-color: #0080ff;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 4px;
                    font-size: 16px;
                    margin-right: 10px;
                    object-fit: contain;
                    
                    &:last-child {
                      margin-right: 0;
                    }
                }
            }
        }
       }
       .add{
        margin-top: 20px;
        display: flex;
        gap: 20px;
            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            input{
                padding: 10px; 
                border: 1px solid lightgray;
            }
            .editorContainer{
                height: 300px; 
                overflow: scroll;
            }
            .editor{
                height: 100%; 
                border: 1px solid lightgray;
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray; 
                    padding: 10px;
                    display: flex;
                    flex: 1;
                    align-items:flex-start;
                    flex-direction: column; 
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555; 

                    h1{
                        font-size: 20px; 
                    }
                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between; 

                        :first-child{
                            cursor: pointer;
                            color: teal; 
                            background-color: white;
                            border: 1px solid teal; 
                            padding: 3px 5px;
                        }
                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: teal; 
                            border: 1px solid teal;
                            padding: 3px 5px;   
                        }
                        button{
                            margin-left: 20px;
                        }
                        
                    }
                    .cat{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
       }
       
    } 
}

